html, body {
  min-height: 100%;
  margin: 0;
}
#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav-container {
  top: 0;
  left: 0;
  width: 200px;
  height: 0;
  position: sticky;
  float: left;
}
.nav-container ul {
  list-style-type: none;
  padding: 16px;
  margin: 0;
}

.content-container {
  margin-left: 200px;
  border-left: 2px solid #DDD;
  padding: 16px;
  flex-grow: 1;
}

.router-link {
  font-family: 'Courier';
  font-size: 16pt;
}
.router-link:focus, :visited, :link, :active {
  text-decoration: none;
  color: black;
}
.router-link:hover {
  text-decoration: underline;
}

.footer-container {
  padding: 32px 16px;
  background-color: #DDD;
}

.small-header-right-text-container .right-text-container {
  float: right;
}

.article-footer-container {
  margin-top: 16px;
}

.bullet-point-list-container {
  margin-top: 0px;
}

.big-header-container {
  font-weight: normal;
  font-size: 32pt;
}

.medium-header-container {
  text-decoration: none;
  font-weight: normal;
  position: relative;
  margin-bottom: 16px;
}
.medium-header-container:after {
  content: '';
  position: absolute;
  left: 0; bottom: -2px;
  height: 1px;
  background-color: black;
  width: 100%;
}

.small-header-container {
  font-size: 14pt;
}

.default-font {
  font-family: 'Georgia, Times New Roman, serif';
  line-height: 1.4;
}
.default-image {
  float: left;
}
.paragraph-embedded-image-container {
  display: flex;
  margin: 16px 0;
}
.paragraph-embedded-image-container p {
  margin: 0 0 0 16px;
}
